body{
   
    background-color:#a0a285bf;

}
.container{
    width: 400px;
    height: 550px;
    margin:70px auto 0;
    
    background:rgba(204, 105, 19, 0.103);
    
    border:3px solid rgba(53, 82, 110, 0.521);
    border-radius: 70px 0;

}
h3{
    font-size:xx-large;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style:normal;
    font-stretch: expanded;
    text-decoration:underline;
}
p{
    color:rgb(49, 9, 9);
    text-align: center;
    
}